* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-green: #1B432E;
    --dark-green: #043A25;
    --white-green: #ffff;
    --red: #c1121f;
    --yellow: #ffb703;
    --dark-brown: #3C2923;
    --white: #EDE0D4;

}

h1, h2, h3, button {
    font-family: 'Staatliches', cursive;
    font-weight: 100;
    color: var(--white-green);
}

.outlet {
    position: relative;
    top: 10vh
}

@media only screen and (min-width: 992px) {

}

@media only screen and (max-width: 600px) {

}