* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    font-family: 'Staatliches', cursive;
    font-weight: 100;
    color: #B4C6BC;
}