* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-weight: 200;
}

@font-face {
  font-family: 'Staatliches';
  src: local('Staatliches'), url('./assets/font-fam/Staatliches-Regular.ttf') format('truetype')
}

.array {
  text-align: center;
}

.fullContainer {
  height: 100vh;
}

:root {
  --main-grey: rgb(126, 134, 133);
  --light-grey: #dbdbdb;
  --even-lighter-grey: #e8e8e8;
  --sort-green: #2c5d44;
  --main-green: #1B432E;
  --main-green-transparent: #1B432E77;
  --dark-green: #043A25;
  --white-green: #B4C6BC;
  --white-green-hover: #96B0A2;
  --red: #c1121f;
  --yellow: #ffb703;
  --yellow-hover: #eba800;
  --dark-brown: #3C2923;
  --white: #ffff;
  --purple: #323356;
  --sand: #E6CCB2;
  --black-transparent: #00000077;
}

body {
  background-color: var(--main-green);
}

h1, h2, h3, h4, button {
  font-family: 'Staatliches', cursive;
  font-weight: 100;
  color: var( --white-green);
}

button:hover{
  color: var(--yellow)
}

.outlet {
  position: relative;
  top: 10vh
}