.whole-page-wrapper {
    background-color: var(--white);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
  }
  
  .aStar #myCanvas {
    position: relative;
    width: 700px;
    height: fit-content;
    min-height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: rotate(-45deg);
  }
  
  .but-options {
    height: fit-content;
    z-index: 2;
  }
  
  .aStar .lesson-wrapper-2 {
    background-color: var(--white);
    border-color: var(--white);
    border-radius: 20px;
    min-width: 70vw;
    width: 900px;
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .main-green-line {
    stroke: 'var(--main-green)';
  }
  
  .svg-circle {
    height: 100px;
    width: 100px;
    z-index: 2;
  }
  
  .svg-line {
    position: absolute;
    z-index: 1;
  }
  
  .aStar .tree-level {
    height: 100px;
    width: fit-content;
    display: flex;
    align-items: space-between;
    justify-content: center;
  }
  