.all-algs {
  min-height: 90vh;
  width: 100vw;
}

.path-finding-algs,
.sorting-algs {
  background-color: var(--white-green);
}

.curve {
  height: 70vh;
  position: relative;
}

svg {
  height: 100%;
  width: 100%;
}

.learning-path {
  fill: none;
  stroke: var(--dark-brown);
  stroke-width: 0.8;
}

.circles {
  fill: var(--white-green);
  stroke: var(--dark-brown);
  stroke-width: 0.6;
}

.circles:hover {
  fill: var(--dark-brown);
  cursor: pointer;
}

.nut {
  fill: var(--dark-brown);
  pointer-events: none;
}

/* .circles-after {
  fill: var(--dark-brown);
}

.nut-after {
  fill: var(--yellow);
} */

.lesson-name {
  fill: var(--dark-brown);
  stroke: var(--dark-brown);
  stroke-width: 0.1px;
  font-variant: all-small-caps;
  font-weight: bold;
  font-size: 2.5px;
}

.lesson-name-label {
  fill: var(--white-green);
}