.dijk #myCanvas {
  position: relative;
  width: 700px;
  height: fit-content;
  min-height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(-45deg);
}
.main-green-line {
  stroke: 'var(--main-green)';
}
.svg-circle {
  height: 100px;
  width: 100px;
  z-index: 2;
}
.svg-line {
  position: absolute;
  z-index: 1;
}
.dijk .tree-level {
  height: 175px;
  width: fit-content;
  display: flex;
  align-items: space-between;
  justify-content: center;
}
