.game-stats {
  height: 5vh;
  background-color: #1b432e;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.money-time {
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin: 0 40px;
}

.scores {
  width: 15%;
  display: flex;
  justify-content: space-around;
  margin: 0 40px;
}

.money-count {
  color: #c1121f;
}

.time-count {
  color: #ffb703;
}

.score-you {
  color: #c1121f;
}

.score-opponent {
  color: #ffb703;
}
