.initial-view-text {
  text-align: center;
  font-size: 30px;
  color: var(--white-green);
}

.initial-view {
  background-color: var(--main-green);
  height: 90vh;
}

.initial-view-text {
  padding: 20vh;
}

.all-algs {
  min-height: 90vh;
  width: 100vw;
}

.path-finding-algs, .sorting-algs {
  background-color: var(--white);
}

.curve-1 {
  height: 500px;
  position: relative;
}

svg {
  height:100%;
  width:100%;
}

.learning-path {
  fill: none;
  stroke: var(--dark-brown);
  stroke-width: 0.8;
}

.circles {
  fill: var(--white);
  stroke: var(--dark-brown);
  stroke-width: 0.6;
}

.circles:hover {
  fill: var(--dark-brown);
  cursor: pointer;
}

.nuts {
  pointer-events: none;
}

.lesson-name {
  font-size: 2px;
  fill: var(--white);
}

.lesson-name-label {
  fill: var(--white-green);
}

/* .over-curve-1 {
  margin: 0;
  padding: 0;
  z-index: 2;
  color: var(--white-green);
  font-weight: bold;
  text-align: center;
}

.path-labels {
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 1.3vw;
  padding: 5px 15px 5px 15px;
  border: 3px solid var(--white-green);
  border-radius: 20px;
  background: #fff;
  cursor: default;
} */

/* .bubble-sort-label {
  top: 29vh;
  left: 11vw;
}

.insertion-sort-label {
  top: 38.5vh;
  left: 19.8vw;
}

.selection-sort-label {
  top: 64.6vh;
  left: 19.8vw;
} */

.explanation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sorting-algo, .path-algo {
  margin: 20px 50px 30px 50px;
  text-align: left;
}

.explanation-title {
  font-size: 50px;
  margin: 5vh 0;
  color: var(--main-green);
}

.explanation-text {
  color: var(--main-green);
  font-size: 30px;
}

.scroll-down {
  padding: 30vh;
}