/* body {
  margin: 0;
  padding: 0;
} */

.initial-view-text p {
  text-align: center;
  font-size: 26px;
  color: #fff;
  margin-top: 15px;
  /* font-family: 'Roboto', sans-serif; */
}

.initial-view {
  background-color: #1B432E;
  height: 100vh;
  /* width: 100vw; */
  margin: 0;
  padding: 0;
}

.initial-view-text p:first-of-type {
  padding-top: 300px;
  margin-top: 0px;
}

.all-algs {
  min-height: 90vh;
}

.all-algs h3 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
  margin-left: 10vw;
}

.path-finding-algs {
  background-color: #fff;
  /* width: 100vw; */
  margin-top: 200px;
}

.curve-1 {
  /* width:300px; height:100px;
  border:solid 5px #000;
  border-color:#000 transparent transparent transparent;
  border-radius: 10%/0px 100px 0 0; */
  /* width: 100vw; */
  height: 800px;

}

svg {
  height:100%;
  width:100%;
  /* Remove the border */
  /* border: 5px solid red; */
}

path {
  fill: none;
  stroke: #b4751c;
  stroke-width: 0.8;
}

.circles {
  fill: #fff;
  stroke: #b4751c;
  stroke-width: 0.6;

}

.nuts {
  cursor: pointer;
}

