.b {
  background-image: url(../assets/tiles/b.svg);
  background-size: contain;
}

.t {
  background-image: url(../assets/tiles/t.svg);
  background-size: contain;
}

.l {
  background-image: url(../assets/tiles/l.svg);
  background-size: contain;
}


.r {
  background-image: url(../assets/tiles/r.svg);
  background-size: contain;
}

.l.t {
  background-image: url(../assets/tiles/lt.svg);
  background-size: contain;
}


.r.t {
  background-image: url(../assets/tiles/rt.svg);
  background-size: contain;
}


.b.t {
  background-image: url(../assets/tiles/bt.svg);
  background-size: contain;
}


.b.l {
  background-image: url(../assets/tiles/bl.svg);
  background-size: contain;
}


.b.r {
  background-image: url(../assets/tiles/br.svg);
  background-size: contain;
}

.l.r {
  background-image: url(../assets/tiles/lr.svg);
  background-size: contain;
}

.b.r.t {
  background-image: url(../assets/tiles/brt.svg);
  background-size: contain;
}


.b.l.t {
  background-image: url(../assets/tiles/blt.svg);
  background-size: contain;
}

.l.r.t {
  background-image: url(../assets/tiles/lrt.svg);
  background-size: contain;
}

.b.l.r {
  background-image: url(../assets/tiles/blr.svg);
  background-size: contain;
}

.b.l.r.t {
  background-image: url(../assets/tiles/blrt.svg);
  background-size: contain;
}

.showNone {
  background-image: none !important;
}
