.mazeOuter {
  overflow: auto;
  display: flex;
  flex-direction: column;
  cursor: grab;
  max-width: 80vw;
}

.mazeInner {
  position: relative;
  max-width: 80vw;
  min-width: 0;
  max-height: min(80vh);
  display: grid;
  place-items: start;
}