.navbar {
    background-color: #1B432E;
    width: 100vw;
    height: 10vh;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
  }

  .navbar-start {
    display: flex;
    justify-content: flex-start;
    width: 40vw;
  }
  
  .maze {
      margin: 12px 40px;
  }
  
  .do {
    display: flex;
    justify-content: space-end;
    margin: 12px;
  }
  
  .navbar-end {
    display: flex;
    justify-content: flex-end;
    width: 40vw;
  }
  
  .login {
    display: flex;
    justify-content: space-end;
    margin: 12px 40px;
  }