.icon {
    width: 120px;
    height: 110px;
}

.profile-page {
    background-color: var(--white);
    height: 90vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.user-dashboard {
    background-color: var(--main-green);
    min-height: 40vh;
    height: max-content;
    width: 90vw;
    margin: 5vh 5vw;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.user-info {
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.user-part {
    display: flex;
    flex-direction: row;
}

.user-name {
    margin: 0px 20px;
}

.learning-progress {
    margin: 20px;
}

.progress {
    display: flex;
    flex-direction: row;
}

.sort-progress, .path-progress {
    margin: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sort-progress-img, .path-progress-img {
    position: relative;
    height: 120px;
    width: 160px;
}