.right-bar {
  width: 10vw;
  background-color: var(--main-green);
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.money-time, .scores {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 0 45px;
}

.scores {
  width: 20%;
}

.money-count, .score-you {
  color: var(--red);
}

.time-count, .score-opponent {
  color: var(--yellow);
}

.money-time-small, .scores-small {
  font-size: 12.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px 45px;
}

.money-small, .time-small, .you-small, .opponent-small {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.money-time-medium, .scores-medium {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 45px;
}

.money-medium, .time-medium, .you-medium, .opponent-medium {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;
}