.shop-page {
  background-color: var(--purple);
  height: 76vh;
  width: 100%;

}

.shop-page h1 {
  text-align: center;
}

.shop-list {
  height: 76vh;
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.buy-minion-button {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 15px;
}

.buy-minion-button:hover {
  border: 3px solid var(--yellow);
  border-radius: 15px;
}
