.shop-page {
  background-color: var(--sand);
  height: 76vh;
  width: 94%;
  border-radius: 15px 15px 0 0;
}

.the-shop-sign {
  text-align: center;
  color: var(--main-green);
}

.shop-list {
  height: 76vh;
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.buy-minion-button {
  padding-top: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column-reverse;
}

.buy-minion-button:hover {
  border: 3px solid var(--main-green);
  border-radius: 15px;
}

.in-shop-svg-large {
  height: 100px;
}

.shop-just-text {
  color: var(--main-green);
  font-size: 16px;
  width: 30%;
  align-self: flex-end;
  margin-bottom: 0px;
  padding-bottom: 0px;
  white-space: nowrap;
}

.shop-just-stats {
  width: 70%;
  margin-bottom: 10px;
  padding-top: 0px;
  font-size: 30px;
  line-height: 34px;
  left: -100px;
  color: var(--red);
}

.price {
  color: var(--yellow);
  text-shadow: 2px 2px var(--red);

}

/* width */
.shop-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.shop-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--white-green);
  border-radius: 5px;
}

/* Handle */
.shop-list::-webkit-scrollbar-thumb {
  background: var(--white-green);
  border-radius: 5px;
}

/* Handle on hover */
.shop-list::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}
