*{
  box-sizing: border-box;
}
.whole-page-wrapper {
  background-color: var(--white-green);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
}

.lesson-wrapper, .lesson-wrapper-2 {
  background-color: var(--main-green);
  border-radius: 20px;
  width: 70vw;
  padding: 3vh 3vw;
  margin: 5vh;
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lesson-wrapper h1 {
  font-size: 50px;
}

.lesson-wrapper p {
  font-size: 24px;
  text-align: center;
  color: var(--white-green);
}

.lesson-wrapper-2 {
  background-color: transparent;
  border: 3px solid var(--main-green);
}

.array {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.clickSort{
 color: var(--purple);
}

.clickSort-clicked {
  color: var(--white);
}

.array-el {
  margin: 2px;
  height: 10px;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bolder;
}

