
.whole-page-wrapper {
  background-color: var(--white);
  height: 90vh;
  width: 88vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: scroll;
}

.visualRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.lesson-wrapper,
.lesson-wrapper-2 {
  border-radius: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.visualization-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.map-keys {
  min-height: 200px;
  max-width: 300px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid var(--white-green);
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 10px;
}

.map-keys h2 {
  color: var(--white-green);
  font-size: 30px;
}

.map-keys h3, .map-keys h4, .map-keys h5 {
  color: var(--dark-brown);
  font-size: 16px;
}

.steps-visualization{
  min-height:max-content;
  min-width:250px;
  border-radius: 15px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  /* padding: 20px; */
  /* border: 3px solid var(--yellow); */
  margin-bottom: 30px;
  margin-left: 30px;
}

.steps-visualization h4 {
  color: var(--main-green);
  font-size: 20px;
}

.steps-visualization h5 {
  color: var(--dark-brown);
  font-size: 16px;
}
.steps-visualization {
  min-height: max-content;
  min-width: 250px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  padding: 1%;
  border:2px solid;
  border-color: var(--yellow);
  margin-bottom: 30px;
}

.buttons-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-row {
  min-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.stats-flex {
  min-height: 100px;
  min-width: 200px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stats-flex h4 {
  color: var(--white-green);
  font-size: 20px;
}

.heuristicDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.heuristicDiv p {
  color: var(--dark-brown);
}

.slider {
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: var(--purple);
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  border: 3px solid var(--white-green);
  border-radius: 10px;
}

.slider::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.lesson-wrapper h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.lesson-wrapper p {
  font-size: 22px;
  text-align: left;
  color: var(--white);
  margin-bottom: 15px;
}

.visualDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 300px;
  height: 300px;
  width: inherit;
}

.array {
  display: flex;
  align-items: flex-end;
  max-width: fit-content;
}

.clickSort {
  color: var(--purple);
}

.clickSort-clicked {
  color: var(--white);
}

.array-el {
  flex: 1;
  margin: 2px;
  height: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bolder;
}

.visualizing {
  color: var(--white-green);
}

.visualizing:hover {
  cursor: default;
  color: var(--white-green);
}

.merge-visual-height .array {
  height: 300px;
}

.quick-sort-visual-height {
  width: 1150px;
}

.quick-sort-visual-height .array {
  height: 300px;
}

@media only screen and (max-width: 949px) {
  .lesson-wrapper-2 {
    width: 99%;
  }

  /* TODO started here. didn't finish  */

  .array {
    width: 90vw;
    margin: 0px;
  }

  .array-el {
    margin: 1px;
    height: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;
  }
}
