.waiting-room {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-green);
}

.waiting-room span, .waiting-room p {
  font-family: 'Staatliches', cursive;
}

.waiting-room h1 {
  font-size: 100px;
  text-align: left;
}

.wr-explanation-text {
  text-align: center;
  color: var(--white-green);
  font-size: 40px;
  padding-top: 13vh;
  padding-bottom: 4vh;
  font-weight: 100;
  cursor: default;
}

.wait-r-yellow {
  color: var(--yellow);
}

.wait-r-red {
  color: var(--red);
}

.wr-main-button {
  background-color: transparent;
  border: none;
  width: fit-content;
  margin-left: auto;
}

.wr-amazing-text {
  text-align: left;
  font-size: 31px;
  margin-top: 30px;
  cursor: default;
}

.selection-panel {
  display: flex;
  justify-content: space-around;
  height: 45vh;
}

.left-side-selection {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.wr-form {
  padding: 0px;
  margin: 0px;
}

.wr-copy-text {
  width: 100%;
  margin-left: auto;
}

.right-side-selection {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
}

.wr-play-button:hover {
  color: var(--red);
}

.waiting-page-create-button:hover {
  color: var(--yellow);
}

.waiting-page-join-button:hover {
  color: var(--yellow);
}

.create-room-code {
  background-color: var(--main-green);
  border-radius: 15px 15px 15px 15px;
  border: 4px solid var(--yellow);
  height: 5vh;
  margin-top: 30px;
  margin-bottom: auto;
  color: var(--yellow);
  font-size: 26px;
  text-align: center;
  width: 80%;
  font-family: 'Staatliches', cursive;
  cursor: pointer;

}

.create-room-code::placeholder {
  color: var(--yellow);
  opacity: 1; /* Firefox */
  font-family: 'Staatliches', cursive;
  font-size: 26px;
  text-align: center;
}

.join-code-input {
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-right: 16px; */
}

.join-room-code {
  padding: 0;
  margin-top: 0px;
  pointer-events: fill;
  width: 63%;

}

.submit-the-code-button {
  background-color: var(--main-green);
  border: 4px solid var(--yellow);
  height: 5vh;
  width: 20%;
  border-radius: 15px 0px 0px 15px;
  color: var(--yellow);
  font-size: 30px;
  font-weight: 700;
  border-radius: 0px 15px 15px 0px;
  margin-left: -10px;
  margin-right: auto;
  padding: 0;
}

.play-h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.loading-animation {
  margin: auto;
  margin-left: 60px;
  border: 10px solid var(--dark-green);
  border-radius: 50%;
  border-top: 10px solid var(--red);
  width: 100px;
  height: 100px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.submit-the-code-button:hover {
  background-color: var(--yellow);
  color: var(--main-green);
}

.waiting-page-create-button.playClicked, .waiting-page-create-button.joinClicked, .waiting-page-join-button.playClicked, .waiting-page-join-button.joinClicked, .wr-play-button.joinClicked, .wr-play-button.createClicked {
  color: var(--dark-green) !important;
  cursor: default;
}

.wr-game-history {
  /* margin-left: -4vw; */
}

