.welcome-page {
  background-color: #1B432E;
  width: 100vw;
  height: 100vh;
}

.top {
  height: 10vh;
  color: #B4C6BC;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  margin: 25px 60px;
}

.smaller{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 200px;
  margin: 20px 40px;
}

p:hover {
  cursor: pointer;
}

.body {
  height: 90vh;
  font-size: 115px;
  margin: 20px 40px;
}

.welcome {
  color: #043A25;
}

.options {
  color: #B4C6BC;
}