.welcome-page {
  background-color: #1B432E;
  width: 100vw;
  height: 90vh;
  font-size: 120px;
  position: fixed;
}

.welcome {
  color: #043A25;
  padding: 0px 40px;
}

.options {
  color: #B4C6BC;
  padding: 0px 40px;
  font-size: 180px;
  background-color: transparent;
  border: 0;
}