.mud {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 5;
  display: flex;
  background-image: url('../../assets/game-different/jungle-svgrepo-com.svg');
  background-size: cover;
  pointer-events: none;
}