#tutorial {
    position:relative;
    z-index: 101;
    background-color: var(--white);
    width: 50%;
    height: 60%;
    border: 3px solid var(--yellow);
    border-radius: 15px;
    text-align: center;
    float: right;
}
.tutorial-background{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-green-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#tutorialCounter {
    display: none;
}

#nextButton, #previousButton, #skipButton {
    color: var(--red);
    border-radius: 15px;
    border: 0;
    background-color: var(--yellow);
    position: absolute;
    right: 5%;
    bottom: 2%;
    margin-bottom: 10px;
}

#previousButton {
    right: 10%;
    bottom: 2%;
}

#skipButton {
    right: 85%;
    bottom: 2%;
}

.flex-div{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tutorial-img{
    height: 280px;
    position: relative;
    border: 3px solid var(--yellow);
    border-radius: 15px;
}