#tutorial {
    position:relative;
    z-index: 101;
    background-color: var(--sand);
    width: 50%;
    height: 60%;
    border: 3px solid var(--main-green);
    border-radius: 15px;
    text-align: center;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#tutorialCounter {
    position: absolute;
    right: 2%;
    top: 2%;
}

#nextButton, #previousButton, #skipButton {
    color: var(--red) !important;
    border-radius: 15px;
    border: 3px solid var(--red);
    background-color: var(--yellow) !important;
    position: absolute;
    right: 5%;
    bottom: 2%;
}

#previousButton {
    right: 10%;
    bottom: 2%;
}

#skipButton {
    right: 80%;
    bottom: 2%;
}

.flex-div{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tutorial-img{
    height: 280px;
    position: relative;
    border: 3px solid var(--yellow);
    border-radius: 15px;
}